


<div class='container' id='searchpage'>
  <div class='row' id='search'>
    <div class='col-xs-6 col-xs-offset-3'>
        <form ng-submit='search(searchTerm)'>
          <!-- <button ng-click='search(searchTerm)'>search</button> -->
          <div class="form-group">
              <input type='text' class="form-control" id='search' ng-model='searchTerm' placeholder='Twitter Search Query'>
          </div>
          
        </form>
      </div>
    </div>
  </div>

  <div class ="row">
    <div class="row stats_overview">
      <div id="line-chart-widget" class="panel">
        <div class="panel-body">
          <div class="media col-md-6 col-md-offset-3">
            <div class="list-block">
              <ul class="text-center legend" ng-repeat='stock in stocks'>
                <li>
                 <h3>{{ stock.name }}</h3>
                 STOCK
               </li>
               <li>
                 <h3>{{stock.follower_count_at_query_time | number}}</h3>
                 RETWEETS
               </li>
               <li>
                 <h3 id="shareprice">{{stock.price_at_purchase | number:2}}</h3>
                 SHARE PRICE
               </li>
                <li id="buyshares">
                  <form ng-submit='buyStock(shareCount)'>
                    <!-- <div class="form-group" > -->
                        <input type='text' ng-model='shareCount' >
                    <!-- </div> -->
                    BUY SHARES
                    <!-- <button ng-click='buyStock(shareCount)'>BUY</button> -->
                  </form>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>
  </div>
</div>

          